@font-face {
  font-family: "Wanted Sans";
  src: url(fonts/WantedSans-Bold.otf);
}

:root {
  --default-animation: all 1.5s cubic-bezier(0.1, 1, 0.32, 1);
}

body {
  background-image: url("pictures/background.png");
  background-size: cover;

  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: "Wanted Sans";
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.black-border {
  border-style: solid;
  border-color: black;
  border-width: 4px;

  border-radius: 20px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);

  padding: 5rem 4rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.welcomingText {
  font-size: 40px;
  margin-bottom: 5px;
}

.text-input {
  height: 35px;
  width: 300px;
  margin-bottom: 1rem;

  &:focus {
    transform: translateY(30px);
    width: 315px;
  }

  font-size: 20px;
  border-radius: 5px;
  background: transparent;
  font-family: "Wanted Sans";
  transition: var(--default-animation);
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  flex-grow: 1;
  flex-shrink: 0;
}

.input-label {
  padding-top: 20px;
  padding-bottom: 10px;
}

.qrcode {
  width: 250px;
}

.alt-login {
  font-size: 20px;
}

.login-button {
  display: flex;

  border: 2px solid black;
  border-color: rgba(0, 0, 0, 0.226);
  border-radius: 10px;
  background: transparent;

  align-items: center;
  align-self: center;
  justify-content: center;

  margin-top: 20px;
  width: 250px;
  height: 40px;

  &:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
